<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h1 class="display-3 font-weight-thin my-5">Persönliche Einrichtung planen</h1>
        <p class="body-1">Hier können sie eine persönliche Einrichtung erstellen. Dazu klicken sie auf den Button persönliche Einrichtug erstellen. Nun können sie die benötigten Module auswählen und durchführen.</p>
      </v-col>
    </v-row>

    <v-row v-if="session.id === null">
      <v-col class="text-center">
        <v-btn color="primary"
               large
               @click="createLocalSession"
               :loading="isLoading">
          <v-icon left>fa-save</v-icon>
          Erstellen sie ihre persönliche Einrichtung
        </v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col v-if="sortedStages.length > 0"
             cols="12">
        <stage-editor v-for="stage of sortedStages"
                      :key="stage.id"
                      :stage="stage"
                      :add-target-identifier-action="identifier"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
  import Vue from 'vue'
  import { mapGetters } from "vuex";
  import Component from 'vue-class-component'
  import StageEditor from "@/components/StageEditor.vue";
  import { sessionIdentifiers } from "@/store/newModules/session";
  import { targetIdentifiers } from "@/store/newModules/target";
  import { stageIdentifiers } from "@/store/newModules/stage";
  import { signalRIdentifiers } from "@/store/newModules/signalR";
  import SessionForm from "@/components/SessionForm.vue";
  import { directorIdentifiers } from "@/store/newModules/director";
  import { directorApi } from "@/api/directorApi";
  import { Director } from '@/models/director';
  import { Session } from '@/models/session';
  import {stageTargetIdentifiers} from "@/store/newModules/stageTarget";

  @Component({
    components: { SessionForm, StageEditor },
    computed: {
      ...mapGetters({
        isLoading: 'isLoading',
      }),
      ...mapGetters('stage', {
        sortedStages: 'sortedStages',
      }),
    }
  })

  export default class CreatePersonalSession extends Vue {
    get session() {
      return this.$store.state.session.session;
    }

    get identifier() {
      return stageTargetIdentifiers.actions.addLocal;
    }

    createLocalSession() {
      this.$store.dispatch(directorIdentifiers.actions.createLocal)
        .then(() => {

          const session = new Session();
          session.id = "customId";
          session.directorId = this.$store.state.director.director.id;
          this.$store.dispatch(sessionIdentifiers.actions.createLocal, session);
          this.$store.dispatch(stageIdentifiers.actions.addLocal);
          this.$store.dispatch(targetIdentifiers.actions.load);
        });
    }

    startSession() {
      this.$store.dispatch(signalRIdentifiers.actions.startSession, "custom");

    }
  }




</script>