﻿<template>
    <div>
        <p class="title">Feedback</p>
        <p class="body-1">Bitte geben Sie ein Feedback von 1-5 Sternen ab.</p>
        <v-rating class="" v-model="rating" />
        <v-textarea light name="input-7-1" label="Kommentar (optional)" v-model="comment"></v-textarea>
        <v-btn :disabled="rating == 0"
               small
               color="primary"
               @click="sendFeedback">
            <v-icon left small>fa-save</v-icon>
            Feedback senden
        </v-btn>
    </div>
</template>

<script lang="ts">

    import { Vue, Component, Prop } from "vue-property-decorator";
    import { Feedback } from "@/models/feedback";
    import { TutorialTarget } from "@/models/tutorialTarget";
    import { feedbackApi } from "@/api/feedbackApi";

    @Component({})
    export default class FeedbackView extends Vue {
        @Prop({ required: true }) target!: TutorialTarget;

        rating = 0;
        comment = "";

        feedback = new Feedback({ tutorialTargetId: this.target.id });
                
        sendFeedback() {
            if (this.rating > 0 && this.rating < 6) {
                this.$emit('feedback-handler');
                this.feedback.comment = this.comment;
                this.feedback.rating = this.rating;
                feedbackApi.createFeedback(this.feedback);
            }            
        }
    }

</script>

<style>
</style>